<div section="Community-Social-Posts-Section" class="community-section wf-section">
    <div class="main-container">
      <div class="community-title-lock">
        <h2 option:text="Community Title" class="h2-norm black">{{ texts.1f374fc9 }}</h2>
        <div option:textarea="Community-Text" class="body-norm black">{{ texts.-156b27a8 }}</div>
      </div>
      <div class="instagram-grid">
        <div class="pots-grid-container">
          <div option:image="Post Image" class="instagram-grid-item _0">
            <a option:url="Post Url" href="{{ links.23 }}" class="social-media-link w-inline-block"></a>
          </div>
          <div option:image="Post Image 1" class="instagram-grid-item _1">
            <a option:url="Post Url 1" href="{{ links.23 }}" class="social-media-link w-inline-block"></a>
          </div>
          <div option:image="Post Image 2" class="instagram-grid-item _2">
            <a option:url="Post Url 2" href="{{ links.23 }}" class="social-media-link w-inline-block"></a>
          </div>
          <div option:image="Post Image 3" class="instagram-grid-item _3">
            <a option:url="Post Url 3" href="{{ links.23 }}" class="social-media-link w-inline-block"></a>
          </div>
          <div option:image="Post Image 4" class="instagram-grid-item _4">
            <a option:url="Post Url 4" href="{{ links.23 }}" class="social-media-link w-inline-block"></a>
          </div>
          <div option:image="Post Image 5" class="instagram-grid-item _5">
            <a option:url="Post Url 5" href="{{ links.23 }}" class="social-media-link w-inline-block"></a>
          </div>
        </div>
      </div>
    </div>
  </div>