<footer id="footer" class="footer wf-section">
    <div class="footer-container">
      <div class="footer-flex-container">
        <a href="{{ links.23 }}" class="social-media-icon">{{ texts.1d3c53 }}</a>
        <div class="div-block-3">
          <h2 class="footer-heading">{{ texts.-144bb8ea }}</h2>
          <ul role="list" class="w-list-unstyled">
            <li>
              <a href="{{ links.23 }}" class="footer-link">{{ texts.3610230d }}</a>
            </li>
            <li>
              <a href="{{ links.23 }}" class="footer-link">{{ texts.3610230d }}</a>
            </li>
            <li>
              <a href="{{ links.23 }}" class="footer-link">{{ texts.3610230d }}</a>
            </li>
            <li>
              <a href="{{ links.23 }}" class="footer-link">{{ texts.3610230d }}</a>
            </li>
            <li>
              <a href="{{ links.23 }}" class="footer-link">{{ texts.3610230d }}</a>
            </li>
          </ul>
        </div>
        <div class="div-block-4">
          <h2 class="footer-heading">{{ texts.-144bb8ea }}</h2>
          <ul role="list" class="w-list-unstyled">
            <li>
              <a href="{{ links.23 }}" class="footer-link">{{ texts.3610230d }}</a>
            </li>
            <li>
              <a href="{{ links.23 }}" class="footer-link">{{ texts.3610230d }}</a>
            </li>
          </ul>
        </div>
        <div class="div-block-2">
          <h2 class="footer-heading">{{ texts.-144bb8ea }}</h2>
          <ul role="list" class="w-list-unstyled">
            <li>
              <a href="{{ links.23 }}" class="footer-link">{{ texts.3610230d }}</a>
            </li>
            <li>
              <a href="{{ links.23 }}" class="footer-link">{{ texts.3610230d }}</a>
            </li>
            <li>
              <a href="{{ links.23 }}" class="footer-link">{{ texts.3610230d }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="text-block-2">{{ texts.567ebd9 }}</div>
    </div>
  </footer>