<div class="footer-section wf-section">
    <div class="main-container">
      <div class="footer-flex">
        <div class="block1"><img src="{{ images.-267fc7fb.url }}" loading="lazy" alt="{{ images.-267fc7fb.alt | trim | escape }}" class="footer-logo">
          <div class="social-media-block">
            <a href="{{ links.23 }}" option:url="Social Media Link 1" class="social-media-icon">{{ texts.f16d }}</a>
            <a href="{{ links.23 }}" option:url="Social Media Link 2" class="social-media-icon _2">{{ texts.f0e0 }}</a>
          </div>
        </div>
        <div class="block2">
          <div>
            <h2 class="footer-heading">{{ texts.-144bb8ea }}</h2>
            <ul role="list" class="w-list-unstyled">
              <li>
                <a option:text="About Footer Text" option:page="Footer LInk 1" href="{{ links.23 }}" class="footer-link">{{ texts.3c2336d }}</a>
              </li>
              <li>
                <a option:text="Menu Footer Text" option:page="Footer Link 2" href="{{ links.23 }}" class="footer-link">{{ texts.24897f }}</a>
              </li>
              <li>
                <a option:text="Policies Footer Text" option:page="Footer Link 3" href="{{ links.23 }}" class="footer-link">{{ texts.24735570 }}</a>
              </li>
              <li>
                <a option:text="Privacy Footer Text" option:page="Footer LInk 4" href="{{ links.23 }}" class="footer-link">{{ texts.5079bb68 }}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="block3">
          <div>
            <h2 class="footer-heading">{{ texts.-144bb8ea }}</h2>
            <ul role="list" class="w-list-unstyled">
              <li>
                <a option:text="External Link 1 Text" option:url="Footer LInk 5" href="{{ links.23 }}" class="footer-link">{{ texts.2bda872f }}</a>
              </li>
              <li>
                <a option:text="External Link 2 Text" option:url="Footer Link 6" href="{{ links.23 }}" class="footer-link">{{ texts.2bda872f }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="text-block-7">{{ texts.-17400c5d }}</div>
    </div>
  </div>