<section id="Hero" section="Hero" class="side-hero-section wf-section">
    <div class="side-hero-title">
      <h1 option:text="Hero-Title" class="h1-norm hero">{{ texts.346b9df8 }}<br>{{ texts.71b8358a }}</h1>
      <div option:text="Hero-Text" class="hero-p">{{ texts.-6614cc12 }}<br>{{ texts.9558e10 }}</div>
      <a href="{{ links.5fe58b8c }}" option:text="Main CTA Button Text" option:page="Main CTA Button" class="button-style bold w-button">{{ texts.-5fa13624 }}<span class="arrow-special">{{ texts.27f6 }}</span></a>
    </div>
    <div id="hero" option:image="hero-image" class="side-hero-image">
      <div class="rotate-html-embed w-embed">
        <div style="
	display:flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: -4%;
  mix-blend-mode: exclusion;
">
          <div id="circle" style="
    border-radius: 100px;
    letter-spacing: 6px;
    width: 200px;
    border: 2px solid white;
    font-size: 10px;
    fill: white;
   ">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100">
              <defs>
                <path class="cls-1" d="M50.25,100.25a50,50,0,1,1,50-50A50.24,50.24,0,0,1,50.25,100.25Z" id="textcircle"></path>
              </defs>
              <g>
                <text dy="14" textLength="10">
                  <textPath href="#textcircle" option:text="Spining Cirlce">Featured Meals *</textPath>
                </text>
                <animateTransform attributeName="transform" begin="0s" dur="13s" type="rotate" from="0 50 50" to="360 50 50" repeatCount="indefinite" transform-origin="0 0"></animateTransform>
              </g>
            </svg>
          </div>
          <p style="
    font-family: 'Work Sans',sans-serif;
    display: block;
    position: absolute;
    font-size: 100px;
    font-weight: 300;
    color: #a9824c;
">↓</p>
        </div>
      </div>
    </div>
  </section>