<div section="How It Works Section" class="steps-section wf-section">
    <div class="main-container">
      <div class="step-row">
        <div data-w-id="9d0b2e88-dda4-ec19-2ae9-23628cc55473" class="step-box">
          <h2 option:text="Step-1-Title" class="h2-norm">{{ texts.-da5f42f }}</h2>
          <div option:text="Step-1-Text" class="body-norm">{{ texts.-156b27a8 }}</div>
        </div>
        <div option:image="Step-1-Image" data-w-id="9d0b2e88-dda4-ec19-2ae9-23628cc55478" class="step-picture _1"></div>
      </div>
      <div class="step-row right">
        <div option:image="Step-2-Image" data-w-id="9d0b2e88-dda4-ec19-2ae9-23628cc5547a" class="step-picture _2"></div>
        <div data-w-id="9d0b2e88-dda4-ec19-2ae9-23628cc5547b" class="step-box right">
          <h2 option:text="Step-2-Title" class="h2-norm">{{ texts.-da5f410 }}</h2>
          <div option:text="Step-2-Text" class="body-norm">{{ texts.-156b27a8 }}</div>
        </div>
      </div>
      <div class="step-row">
        <div data-w-id="9d0b2e88-dda4-ec19-2ae9-23628cc55481" class="step-box">
          <h2 option:text="Step-3-Title" class="h2-norm">{{ texts.-da5f3f1 }}</h2>
          <div option:text="Step-3-Text" class="body-norm space-bottom">{{ texts.-156b27a8 }}</div>
          <a option:text="Steps Button Text" option:page="Steps CTA" href="{{ links.2c9660e }}" class="button-style w-button">{{ texts.6b7a999a }}</a>
        </div>
        <div option:image="Step-3-Image" data-w-id="9d0b2e88-dda4-ec19-2ae9-23628cc55486" class="step-picture _3"></div>
      </div>
    </div>
  </div>